In [77]:
import numpy as np
import pandas as pd
%matplotlib inline 

df = pd.read_csv('train.csv')

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
PassengerId    891 non-null int64
Survived       891 non-null int64
Pclass         891 non-null int64
Name           891 non-null object
Sex            891 non-null object
Age            714 non-null float64
SibSp          891 non-null int64
Parch          891 non-null int64
Ticket         891 non-null object
Fare           891 non-null float64
Cabin          204 non-null object
Embarked       889 non-null object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.6+ KB

In [78]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [79]:
corr_matrix = df.corr()
corr_matrix["Survived"].sort_values(ascending=False)

Survived       1.000000
Fare           0.257307
Parch          0.081629
PassengerId   -0.005007
SibSp         -0.035322
Age           -0.077221
Pclass        -0.338481
Name: Survived, dtype: float64

In [80]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [81]:
median = df["Age"].median()
df["Age"].fillna(median, inplace=True)

In [82]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
PassengerId    891 non-null int64
Survived       891 non-null int64
Pclass         891 non-null int64
Name           891 non-null object
Sex            891 non-null object
Age            891 non-null float64
SibSp          891 non-null int64
Parch          891 non-null int64
Ticket         891 non-null object
Fare           891 non-null float64
Cabin          204 non-null object
Embarked       889 non-null object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.6+ KB

In [83]:
X = df.drop(['Survived'], axis=1)
y = df.Survived

In [84]:
emb = pd.get_dummies(X.Embarked)

emb.drop(['C'], axis=1, inplace=True)

In [85]:
X.drop(['Embarked'], axis=1, inplace=True)

In [86]:
X = pd.concat([X, emb], axis=1)

In [87]:
X.drop(['Name', 'Ticket', 'Cabin', 'PassengerId'], axis=1, inplace=True)

In [88]:
Sex = pd.get_dummies(X.Sex)

In [89]:
Sex.drop(['female'], axis=1, inplace=True)

In [90]:
X.drop(['Sex'], axis=1, inplace=True)

In [91]:
X = pd.concat([X, Sex], axis=1)

In [92]:
X.head()

   Pclass   Age  SibSp  Parch     Fare  Q  S  male
0       3  22.0      1      0   7.2500  0  1     1
1       1  38.0      1      0  71.2833  0  0     0
2       3  26.0      0      0   7.9250  0  1     0
3       1  35.0      1      0  53.1000  0  1     0
4       3  35.0      0      0   8.0500  0  1     1

In [93]:
Pclass = pd.get_dummies(X.Pclass)

In [94]:
Pclass.drop([1], axis=1, inplace=True)

In [95]:
X.drop(['Pclass'], axis=1, inplace=True)
X = pd.concat([X, Pclass], axis=1)

In [96]:
X.head()

    Age  SibSp  Parch     Fare  Q  S  male  2  3
0  22.0      1      0   7.2500  0  1     1  0  1
1  38.0      1      0  71.2833  0  0     0  0  0
2  26.0      0      0   7.9250  0  1     0  0  1
3  35.0      1      0  53.1000  0  1     0  0  0
4  35.0      0      0   8.0500  0  1     1  0  1

In [97]:
def set_age(x):
    if pd.isna(x):
        return X.Age.mean()
    else:
        return x

In [98]:
X.Age = X['Age'].apply(set_age)

In [ ]:
import seaborn as sns

In [ ]:
sns.heatmap(X.isnull(), yticklabels=False)

In [99]:
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split

In [100]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [101]:
ss = StandardScaler()

In [102]:
X_train = ss.fit_transform(X_train)

D:\Anaconda3\envs\main_env\lib\site-packages\sklearn\preprocessing\data.py:625: DataConversionWarning: Data with input dtype uint8, int64, float64 were all converted to float64 by StandardScaler.
  return self.partial_fit(X, y)
D:\Anaconda3\envs\main_env\lib\site-packages\sklearn\base.py:462: DataConversionWarning: Data with input dtype uint8, int64, float64 were all converted to float64 by StandardScaler.
  return self.fit(X, **fit_params).transform(X)

In [103]:
X_test = ss.fit_transform(X_test)

D:\Anaconda3\envs\main_env\lib\site-packages\sklearn\preprocessing\data.py:625: DataConversionWarning: Data with input dtype uint8, int64, float64 were all converted to float64 by StandardScaler.
  return self.partial_fit(X, y)
D:\Anaconda3\envs\main_env\lib\site-packages\sklearn\base.py:462: DataConversionWarning: Data with input dtype uint8, int64, float64 were all converted to float64 by StandardScaler.
  return self.fit(X, **fit_params).transform(X)

In [305]:
from tensorflow.keras.layers import Dense
from tensorflow.keras.models import Sequential
from tensorflow.keras.optimizers import Adam, SGD, Nadam

In [108]:
X.head()

    Age  SibSp  Parch     Fare  Q  S  male  2  3
0  22.0      1      0   7.2500  0  1     1  0  1
1  38.0      1      0  71.2833  0  0     0  0  0
2  26.0      0      0   7.9250  0  1     0  0  1
3  35.0      1      0  53.1000  0  1     0  0  0
4  35.0      0      0   8.0500  0  1     1  0  1

In [334]:
model = Sequential()

In [335]:
model.add(Dense(5, activation='relu', input_shape=(9,)))
model.add(Dense(5, activation='relu'))
model.add(Dense(1, activation='sigmoid'))

In [336]:
nadam = Nadam(lr=0.001, beta_1=0.9, beta_2=0.999, epsilon=None, schedule_decay=0.004)

In [337]:
model.compile(metrics=['accuracy'], loss='mean_squared_error', optimizer=nadam)

In [338]:
model.fit(X_train, y_train, batch_size=5, epochs=150)

Epoch 1/150
712/712 [==============================] - 1s 2ms/step - loss: 0.2387 - acc: 0.6264
Epoch 2/150
712/712 [==============================] - 0s 263us/step - loss: 0.2102 - acc: 0.6713
Epoch 3/150
712/712 [==============================] - 0s 258us/step - loss: 0.1900 - acc: 0.7163
Epoch 4/150
712/712 [==============================] - 0s 244us/step - loss: 0.1726 - acc: 0.7626
Epoch 5/150
712/712 [==============================] - 0s 231us/step - loss: 0.1611 - acc: 0.7753
Epoch 6/150
712/712 [==============================] - 0s 231us/step - loss: 0.1528 - acc: 0.7879
Epoch 7/150
712/712 [==============================] - 0s 238us/step - loss: 0.1473 - acc: 0.7949
Epoch 8/150
712/712 [==============================] - 0s 229us/step - loss: 0.1440 - acc: 0.7963
Epoch 9/150
712/712 [==============================] - 0s 234us/step - loss: 0.1418 - acc: 0.7978
Epoch 10/150
712/712 [==============================] - 0s 227us/step - loss: 0.1399 - acc: 0.8048
Epoch 11/150
712/712 [==============================] - 0s 240us/step - loss: 0.1386 - acc: 0.8048
Epoch 12/150
712/712 [==============================] - 0s 240us/step - loss: 0.1373 - acc: 0.8188
Epoch 13/150
712/712 [==============================] - 0s 241us/step - loss: 0.1361 - acc: 0.8216
Epoch 14/150
712/712 [==============================] - 0s 253us/step - loss: 0.1351 - acc: 0.8230
Epoch 15/150
712/712 [==============================] - 0s 267us/step - loss: 0.1343 - acc: 0.8258
Epoch 16/150
712/712 [==============================] - 0s 237us/step - loss: 0.1334 - acc: 0.8301
Epoch 17/150
712/712 [==============================] - 0s 235us/step - loss: 0.1327 - acc: 0.8287
Epoch 18/150
712/712 [==============================] - 0s 234us/step - loss: 0.1322 - acc: 0.8301
Epoch 19/150
712/712 [==============================] - 0s 232us/step - loss: 0.1316 - acc: 0.8315
Epoch 20/150
712/712 [==============================] - 0s 235us/step - loss: 0.1312 - acc: 0.8329
Epoch 21/150
712/712 [==============================] - 0s 242us/step - loss: 0.1309 - acc: 0.8329
Epoch 22/150
712/712 [==============================] - 0s 231us/step - loss: 0.1304 - acc: 0.8399
Epoch 23/150
712/712 [==============================] - 0s 233us/step - loss: 0.1300 - acc: 0.8315
Epoch 24/150
712/712 [==============================] - 0s 233us/step - loss: 0.1295 - acc: 0.8343
Epoch 25/150
712/712 [==============================] - 0s 239us/step - loss: 0.1293 - acc: 0.8287
Epoch 26/150
712/712 [==============================] - 0s 238us/step - loss: 0.1293 - acc: 0.8371
Epoch 27/150
712/712 [==============================] - 0s 237us/step - loss: 0.1289 - acc: 0.8371
Epoch 28/150
712/712 [==============================] - 0s 228us/step - loss: 0.1287 - acc: 0.8371
Epoch 29/150
712/712 [==============================] - 0s 239us/step - loss: 0.1285 - acc: 0.8343
Epoch 30/150
712/712 [==============================] - 0s 233us/step - loss: 0.1280 - acc: 0.8371
Epoch 31/150
712/712 [==============================] - 0s 238us/step - loss: 0.1276 - acc: 0.8329
Epoch 32/150
712/712 [==============================] - 0s 239us/step - loss: 0.1273 - acc: 0.8371
Epoch 33/150
712/712 [==============================] - 0s 247us/step - loss: 0.1275 - acc: 0.8385
Epoch 34/150
712/712 [==============================] - 0s 244us/step - loss: 0.1270 - acc: 0.8371
Epoch 35/150
712/712 [==============================] - 0s 236us/step - loss: 0.1266 - acc: 0.8413
Epoch 36/150
712/712 [==============================] - 0s 241us/step - loss: 0.1266 - acc: 0.8343
Epoch 37/150
712/712 [==============================] - 0s 262us/step - loss: 0.1261 - acc: 0.8399
Epoch 38/150
712/712 [==============================] - 0s 259us/step - loss: 0.1261 - acc: 0.8385
Epoch 39/150
712/712 [==============================] - 0s 248us/step - loss: 0.1257 - acc: 0.8357
Epoch 40/150
712/712 [==============================] - 0s 243us/step - loss: 0.1257 - acc: 0.8329
Epoch 41/150
712/712 [==============================] - 0s 241us/step - loss: 0.1254 - acc: 0.8371
Epoch 42/150
712/712 [==============================] - 0s 248us/step - loss: 0.1252 - acc: 0.8385
Epoch 43/150
712/712 [==============================] - 0s 246us/step - loss: 0.1251 - acc: 0.8385
Epoch 44/150
712/712 [==============================] - 0s 238us/step - loss: 0.1249 - acc: 0.8343
Epoch 45/150
712/712 [==============================] - 0s 243us/step - loss: 0.1247 - acc: 0.8371
Epoch 46/150
712/712 [==============================] - 0s 244us/step - loss: 0.1245 - acc: 0.8315
Epoch 47/150
712/712 [==============================] - 0s 238us/step - loss: 0.1241 - acc: 0.8315
Epoch 48/150
712/712 [==============================] - 0s 249us/step - loss: 0.1239 - acc: 0.8329
Epoch 49/150
712/712 [==============================] - 0s 251us/step - loss: 0.1236 - acc: 0.8287
Epoch 50/150
712/712 [==============================] - 0s 260us/step - loss: 0.1233 - acc: 0.8315
Epoch 51/150
712/712 [==============================] - 0s 263us/step - loss: 0.1230 - acc: 0.8343
Epoch 52/150
712/712 [==============================] - 0s 264us/step - loss: 0.1228 - acc: 0.8413
Epoch 53/150
712/712 [==============================] - 0s 258us/step - loss: 0.1227 - acc: 0.8385
Epoch 54/150
712/712 [==============================] - 0s 263us/step - loss: 0.1225 - acc: 0.8385
Epoch 55/150
712/712 [==============================] - 0s 253us/step - loss: 0.1222 - acc: 0.8385
Epoch 56/150
712/712 [==============================] - 0s 251us/step - loss: 0.1222 - acc: 0.8371
Epoch 57/150
712/712 [==============================] - 0s 244us/step - loss: 0.1219 - acc: 0.8371
Epoch 58/150
712/712 [==============================] - 0s 238us/step - loss: 0.1217 - acc: 0.8399
Epoch 59/150
712/712 [==============================] - 0s 248us/step - loss: 0.1214 - acc: 0.8329
Epoch 60/150
712/712 [==============================] - 0s 238us/step - loss: 0.1214 - acc: 0.8371
Epoch 61/150
712/712 [==============================] - 0s 251us/step - loss: 0.1214 - acc: 0.8413
Epoch 62/150
712/712 [==============================] - 0s 250us/step - loss: 0.1212 - acc: 0.8385
Epoch 63/150
712/712 [==============================] - 0s 239us/step - loss: 0.1213 - acc: 0.8385
Epoch 64/150
712/712 [==============================] - 0s 238us/step - loss: 0.1210 - acc: 0.8399
Epoch 65/150
712/712 [==============================] - 0s 237us/step - loss: 0.1210 - acc: 0.8385
Epoch 66/150
712/712 [==============================] - 0s 239us/step - loss: 0.1209 - acc: 0.8343
Epoch 67/150
712/712 [==============================] - 0s 242us/step - loss: 0.1209 - acc: 0.8343
Epoch 68/150
712/712 [==============================] - 0s 234us/step - loss: 0.1209 - acc: 0.8413
Epoch 69/150
712/712 [==============================] - 0s 242us/step - loss: 0.1208 - acc: 0.8371
Epoch 70/150
712/712 [==============================] - 0s 246us/step - loss: 0.1208 - acc: 0.8371
Epoch 71/150
712/712 [==============================] - 0s 247us/step - loss: 0.1207 - acc: 0.8343
Epoch 72/150
712/712 [==============================] - 0s 266us/step - loss: 0.1204 - acc: 0.8413
Epoch 73/150
712/712 [==============================] - 0s 301us/step - loss: 0.1206 - acc: 0.8357
Epoch 74/150
712/712 [==============================] - 0s 261us/step - loss: 0.1205 - acc: 0.8343
Epoch 75/150
712/712 [==============================] - 0s 291us/step - loss: 0.1203 - acc: 0.8343
Epoch 76/150
712/712 [==============================] - 0s 284us/step - loss: 0.1204 - acc: 0.8399
Epoch 77/150
712/712 [==============================] - 0s 279us/step - loss: 0.1203 - acc: 0.8357
Epoch 78/150
712/712 [==============================] - 0s 276us/step - loss: 0.1202 - acc: 0.8427
Epoch 79/150
712/712 [==============================] - 0s 255us/step - loss: 0.1202 - acc: 0.8399
Epoch 80/150
712/712 [==============================] - 0s 255us/step - loss: 0.1199 - acc: 0.8399
Epoch 81/150
712/712 [==============================] - 0s 251us/step - loss: 0.1200 - acc: 0.8385
Epoch 82/150
712/712 [==============================] - 0s 245us/step - loss: 0.1199 - acc: 0.8385
Epoch 83/150

712/712 [==============================] - 0s 249us/step - loss: 0.1199 - acc: 0.8357
Epoch 84/150
712/712 [==============================] - 0s 251us/step - loss: 0.1197 - acc: 0.8413
Epoch 85/150
712/712 [==============================] - 0s 236us/step - loss: 0.1199 - acc: 0.8385
Epoch 86/150
712/712 [==============================] - 0s 238us/step - loss: 0.1196 - acc: 0.8385
Epoch 87/150
712/712 [==============================] - 0s 232us/step - loss: 0.1196 - acc: 0.8399
Epoch 88/150
712/712 [==============================] - 0s 237us/step - loss: 0.1198 - acc: 0.8413
Epoch 89/150
712/712 [==============================] - 0s 241us/step - loss: 0.1194 - acc: 0.8413
Epoch 90/150
712/712 [==============================] - 0s 235us/step - loss: 0.1193 - acc: 0.8399
Epoch 91/150
712/712 [==============================] - 0s 235us/step - loss: 0.1194 - acc: 0.8427
Epoch 92/150
712/712 [==============================] - 0s 233us/step - loss: 0.1193 - acc: 0.8413
Epoch 93/150
712/712 [==============================] - 0s 233us/step - loss: 0.1193 - acc: 0.8469
Epoch 94/150
712/712 [==============================] - 0s 238us/step - loss: 0.1191 - acc: 0.8385
Epoch 95/150
712/712 [==============================] - 0s 237us/step - loss: 0.1193 - acc: 0.8371
Epoch 96/150
712/712 [==============================] - 0s 235us/step - loss: 0.1192 - acc: 0.8385
Epoch 97/150
712/712 [==============================] - 0s 258us/step - loss: 0.1193 - acc: 0.8399
Epoch 98/150
712/712 [==============================] - 0s 249us/step - loss: 0.1189 - acc: 0.8385
Epoch 99/150
712/712 [==============================] - 0s 237us/step - loss: 0.1190 - acc: 0.8399
Epoch 100/150
712/712 [==============================] - 0s 239us/step - loss: 0.1189 - acc: 0.8413
Epoch 101/150
712/712 [==============================] - 0s 235us/step - loss: 0.1187 - acc: 0.8385
Epoch 102/150
712/712 [==============================] - 0s 230us/step - loss: 0.1188 - acc: 0.8427
Epoch 103/150
712/712 [==============================] - 0s 237us/step - loss: 0.1188 - acc: 0.8385
Epoch 104/150
712/712 [==============================] - 0s 238us/step - loss: 0.1188 - acc: 0.8413
Epoch 105/150
712/712 [==============================] - 0s 246us/step - loss: 0.1185 - acc: 0.8455
Epoch 106/150
712/712 [==============================] - 0s 252us/step - loss: 0.1185 - acc: 0.8399
Epoch 107/150
712/712 [==============================] - 0s 242us/step - loss: 0.1186 - acc: 0.8371
Epoch 108/150
712/712 [==============================] - 0s 246us/step - loss: 0.1185 - acc: 0.8413
Epoch 109/150
712/712 [==============================] - 0s 237us/step - loss: 0.1185 - acc: 0.8441
Epoch 110/150
712/712 [==============================] - 0s 242us/step - loss: 0.1184 - acc: 0.8441
Epoch 111/150
712/712 [==============================] - 0s 229us/step - loss: 0.1182 - acc: 0.8441
Epoch 112/150
712/712 [==============================] - 0s 238us/step - loss: 0.1185 - acc: 0.8399
Epoch 113/150
712/712 [==============================] - 0s 242us/step - loss: 0.1183 - acc: 0.8413
Epoch 114/150
712/712 [==============================] - 0s 234us/step - loss: 0.1184 - acc: 0.8357
Epoch 115/150
712/712 [==============================] - 0s 234us/step - loss: 0.1182 - acc: 0.8413
Epoch 116/150
712/712 [==============================] - 0s 237us/step - loss: 0.1184 - acc: 0.8343
Epoch 117/150
712/712 [==============================] - 0s 236us/step - loss: 0.1186 - acc: 0.8399
Epoch 118/150
712/712 [==============================] - 0s 241us/step - loss: 0.1182 - acc: 0.8427
Epoch 119/150
712/712 [==============================] - 0s 232us/step - loss: 0.1181 - acc: 0.8427
Epoch 120/150
712/712 [==============================] - 0s 233us/step - loss: 0.1182 - acc: 0.8441
Epoch 121/150
712/712 [==============================] - 0s 238us/step - loss: 0.1182 - acc: 0.8413
Epoch 122/150
712/712 [==============================] - 0s 230us/step - loss: 0.1182 - acc: 0.8385
Epoch 123/150
712/712 [==============================] - 0s 240us/step - loss: 0.1181 - acc: 0.8427
Epoch 124/150
712/712 [==============================] - 0s 232us/step - loss: 0.1181 - acc: 0.8371
Epoch 125/150
712/712 [==============================] - 0s 240us/step - loss: 0.1178 - acc: 0.8427
Epoch 126/150
712/712 [==============================] - 0s 238us/step - loss: 0.1178 - acc: 0.8441
Epoch 127/150
712/712 [==============================] - 0s 232us/step - loss: 0.1179 - acc: 0.8441
Epoch 128/150
712/712 [==============================] - 0s 237us/step - loss: 0.1180 - acc: 0.8371
Epoch 129/150
712/712 [==============================] - 0s 235us/step - loss: 0.1180 - acc: 0.8413
Epoch 130/150
712/712 [==============================] - 0s 241us/step - loss: 0.1177 - acc: 0.8441
Epoch 131/150
712/712 [==============================] - 0s 243us/step - loss: 0.1179 - acc: 0.8343
Epoch 132/150
712/712 [==============================] - 0s 248us/step - loss: 0.1179 - acc: 0.8427
Epoch 133/150
712/712 [==============================] - 0s 251us/step - loss: 0.1179 - acc: 0.8455
Epoch 134/150
712/712 [==============================] - 0s 236us/step - loss: 0.1179 - acc: 0.8441
Epoch 135/150
712/712 [==============================] - 0s 235us/step - loss: 0.1179 - acc: 0.8427
Epoch 136/150
712/712 [==============================] - 0s 238us/step - loss: 0.1176 - acc: 0.8455
Epoch 137/150
712/712 [==============================] - 0s 249us/step - loss: 0.1178 - acc: 0.8371
Epoch 138/150
712/712 [==============================] - 0s 245us/step - loss: 0.1177 - acc: 0.8427
Epoch 139/150
712/712 [==============================] - 0s 261us/step - loss: 0.1177 - acc: 0.8413
Epoch 140/150
712/712 [==============================] - 0s 268us/step - loss: 0.1176 - acc: 0.8413
Epoch 141/150
712/712 [==============================] - 0s 255us/step - loss: 0.1177 - acc: 0.8483
Epoch 142/150
712/712 [==============================] - 0s 240us/step - loss: 0.1177 - acc: 0.8399
Epoch 143/150
712/712 [==============================] - 0s 233us/step - loss: 0.1177 - acc: 0.8427
Epoch 144/150
712/712 [==============================] - 0s 237us/step - loss: 0.1179 - acc: 0.8455
Epoch 145/150
712/712 [==============================] - 0s 238us/step - loss: 0.1176 - acc: 0.8469
Epoch 146/150
712/712 [==============================] - 0s 243us/step - loss: 0.1178 - acc: 0.8371
Epoch 147/150
712/712 [==============================] - 0s 242us/step - loss: 0.1177 - acc: 0.8469
Epoch 148/150
712/712 [==============================] - 0s 233us/step - loss: 0.1176 - acc: 0.8441
Epoch 149/150
712/712 [==============================] - 0s 241us/step - loss: 0.1176 - acc: 0.8455
Epoch 150/150
712/712 [==============================] - 0s 239us/step - loss: 0.1174 - acc: 0.8427

In [339]:
prediction = model.predict(X_test)

In [340]:
from sklearn.metrics import accuracy_score, balanced_accuracy_score, classification_report, confusion_matrix

In [341]:
prediction = (prediction > 0.5)

In [342]:
accuracy_score(y_test, prediction)

0.8044692737430168

In [343]:
confusion_matrix(y_test, prediction)

array([[96,  9],
       [26, 48]], dtype=int64)

In [344]:
print(classification_report(y_test, prediction))

              precision    recall  f1-score   support

           0       0.79      0.91      0.85       105
           1       0.84      0.65      0.73        74

   micro avg       0.80      0.80      0.80       179
   macro avg       0.81      0.78      0.79       179
weighted avg       0.81      0.80      0.80       179

In [345]:
balanced_accuracy_score(y_test, prediction)

0.7814671814671814