In [77]:
import numpy as np
import pandas as pd
%matplotlib inline 

df = pd.read_csv('train.csv')

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
PassengerId    891 non-null int64
Survived       891 non-null int64
Pclass         891 non-null int64
Name           891 non-null object
Sex            891 non-null object
Age            714 non-null float64
SibSp          891 non-null int64
Parch          891 non-null int64
Ticket         891 non-null object
Fare           891 non-null float64
Cabin          204 non-null object
Embarked       889 non-null object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.6+ KB

In [78]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [79]:
corr_matrix = df.corr()
corr_matrix["Survived"].sort_values(ascending=False)

Survived       1.000000
Fare           0.257307
Parch          0.081629
PassengerId   -0.005007
SibSp         -0.035322
Age           -0.077221
Pclass        -0.338481
Name: Survived, dtype: float64

In [80]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [81]:
median = df["Age"].median()
df["Age"].fillna(median, inplace=True)

In [82]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
PassengerId    891 non-null int64
Survived       891 non-null int64
Pclass         891 non-null int64
Name           891 non-null object
Sex            891 non-null object
Age            891 non-null float64
SibSp          891 non-null int64
Parch          891 non-null int64
Ticket         891 non-null object
Fare           891 non-null float64
Cabin          204 non-null object
Embarked       889 non-null object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.6+ KB

In [83]:
X = df.drop(['Survived'], axis=1)
y = df.Survived

In [84]:
emb = pd.get_dummies(X.Embarked)

emb.drop(['C'], axis=1, inplace=True)

In [85]:
X.drop(['Embarked'], axis=1, inplace=True)

In [86]:
X = pd.concat([X, emb], axis=1)

In [87]:
X.drop(['Name', 'Ticket', 'Cabin', 'PassengerId'], axis=1, inplace=True)

In [88]:
Sex = pd.get_dummies(X.Sex)

In [89]:
Sex.drop(['female'], axis=1, inplace=True)

In [90]:
X.drop(['Sex'], axis=1, inplace=True)

In [91]:
X = pd.concat([X, Sex], axis=1)

In [92]:
X.head()

   Pclass   Age  SibSp  Parch     Fare  Q  S  male
0       3  22.0      1      0   7.2500  0  1     1
1       1  38.0      1      0  71.2833  0  0     0
2       3  26.0      0      0   7.9250  0  1     0
3       1  35.0      1      0  53.1000  0  1     0
4       3  35.0      0      0   8.0500  0  1     1

In [93]:
Pclass = pd.get_dummies(X.Pclass)

In [94]:
Pclass.drop([1], axis=1, inplace=True)

In [95]:
X.drop(['Pclass'], axis=1, inplace=True)
X = pd.concat([X, Pclass], axis=1)

In [96]:
X.head()

    Age  SibSp  Parch     Fare  Q  S  male  2  3
0  22.0      1      0   7.2500  0  1     1  0  1
1  38.0      1      0  71.2833  0  0     0  0  0
2  26.0      0      0   7.9250  0  1     0  0  1
3  35.0      1      0  53.1000  0  1     0  0  0
4  35.0      0      0   8.0500  0  1     1  0  1

In [97]:
def set_age(x):
    if pd.isna(x):
        return X.Age.mean()
    else:
        return x

In [98]:
X.Age = X['Age'].apply(set_age)

In [ ]:
import seaborn as sns

In [ ]:
sns.heatmap(X.isnull(), yticklabels=False)

In [99]:
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split

In [100]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [101]:
ss = StandardScaler()

In [102]:
X_train = ss.fit_transform(X_train)

D:\Anaconda3\envs\main_env\lib\site-packages\sklearn\preprocessing\data.py:625: DataConversionWarning: Data with input dtype uint8, int64, float64 were all converted to float64 by StandardScaler.
  return self.partial_fit(X, y)
D:\Anaconda3\envs\main_env\lib\site-packages\sklearn\base.py:462: DataConversionWarning: Data with input dtype uint8, int64, float64 were all converted to float64 by StandardScaler.
  return self.fit(X, **fit_params).transform(X)

In [103]:
X_test = ss.fit_transform(X_test)

D:\Anaconda3\envs\main_env\lib\site-packages\sklearn\preprocessing\data.py:625: DataConversionWarning: Data with input dtype uint8, int64, float64 were all converted to float64 by StandardScaler.
  return self.partial_fit(X, y)
D:\Anaconda3\envs\main_env\lib\site-packages\sklearn\base.py:462: DataConversionWarning: Data with input dtype uint8, int64, float64 were all converted to float64 by StandardScaler.
  return self.fit(X, **fit_params).transform(X)

In [114]:
from tensorflow.keras.layers import Dense
from tensorflow.keras.models import Sequential
from tensorflow.keras.optimizers import Adam

In [108]:
X.head()

    Age  SibSp  Parch     Fare  Q  S  male  2  3
0  22.0      1      0   7.2500  0  1     1  0  1
1  38.0      1      0  71.2833  0  0     0  0  0
2  26.0      0      0   7.9250  0  1     0  0  1
3  35.0      1      0  53.1000  0  1     0  0  0
4  35.0      0      0   8.0500  0  1     1  0  1

In [173]:
model = Sequential()

In [174]:
model.add(Dense(4, activation='relu', input_shape=(9,)))
model.add(Dense(4, activation='relu'))
model.add(Dense(1, activation='sigmoid'))

In [175]:
adam = Adam(lr=0.001, beta_1=0.9, beta_2=0.999, epsilon=None, decay=0.0, amsgrad=False)

In [176]:
model.compile(metrics=['accuracy'], loss='mean_squared_error', optimizer=adam)

In [177]:
model.fit(X_train, y_train, batch_size=10, epochs=150)

Epoch 1/150
712/712 [==============================] - 1s 774us/step - loss: 0.2487 - acc: 0.6264
Epoch 2/150
712/712 [==============================] - 0s 86us/step - loss: 0.2161 - acc: 0.6910
Epoch 3/150
712/712 [==============================] - 0s 87us/step - loss: 0.1912 - acc: 0.7346
Epoch 4/150
712/712 [==============================] - 0s 89us/step - loss: 0.1728 - acc: 0.7640
Epoch 5/150
712/712 [==============================] - 0s 84us/step - loss: 0.1601 - acc: 0.7851
Epoch 6/150
712/712 [==============================] - 0s 89us/step - loss: 0.1518 - acc: 0.8006
Epoch 7/150
712/712 [==============================] - 0s 84us/step - loss: 0.1464 - acc: 0.8020
Epoch 8/150
712/712 [==============================] - 0s 84us/step - loss: 0.1424 - acc: 0.8090
Epoch 9/150
712/712 [==============================] - 0s 84us/step - loss: 0.1395 - acc: 0.8160
Epoch 10/150
712/712 [==============================] - 0s 89us/step - loss: 0.1374 - acc: 0.8216
Epoch 11/150
712/712 [==============================] - 0s 87us/step - loss: 0.1363 - acc: 0.8244
Epoch 12/150
712/712 [==============================] - 0s 86us/step - loss: 0.1353 - acc: 0.8272
Epoch 13/150
712/712 [==============================] - 0s 86us/step - loss: 0.1348 - acc: 0.8216
Epoch 14/150
712/712 [==============================] - 0s 90us/step - loss: 0.1343 - acc: 0.8272
Epoch 15/150
712/712 [==============================] - 0s 86us/step - loss: 0.1336 - acc: 0.8258
Epoch 16/150
712/712 [==============================] - 0s 84us/step - loss: 0.1331 - acc: 0.8287
Epoch 17/150
712/712 [==============================] - 0s 84us/step - loss: 0.1324 - acc: 0.8301
Epoch 18/150
712/712 [==============================] - 0s 87us/step - loss: 0.1320 - acc: 0.8287
Epoch 19/150
712/712 [==============================] - 0s 86us/step - loss: 0.1315 - acc: 0.8315
Epoch 20/150
712/712 [==============================] - 0s 90us/step - loss: 0.1309 - acc: 0.8315
Epoch 21/150
712/712 [==============================] - 0s 90us/step - loss: 0.1307 - acc: 0.8301
Epoch 22/150
712/712 [==============================] - 0s 86us/step - loss: 0.1303 - acc: 0.8329
Epoch 23/150
712/712 [==============================] - 0s 84us/step - loss: 0.1299 - acc: 0.8315
Epoch 24/150
712/712 [==============================] - 0s 86us/step - loss: 0.1299 - acc: 0.8357
Epoch 25/150
712/712 [==============================] - 0s 86us/step - loss: 0.1296 - acc: 0.8329
Epoch 26/150
712/712 [==============================] - 0s 91us/step - loss: 0.1295 - acc: 0.8371
Epoch 27/150
712/712 [==============================] - 0s 82us/step - loss: 0.1294 - acc: 0.8343
Epoch 28/150
712/712 [==============================] - 0s 80us/step - loss: 0.1292 - acc: 0.8357
Epoch 29/150
712/712 [==============================] - 0s 86us/step - loss: 0.1289 - acc: 0.8343
Epoch 30/150
712/712 [==============================] - 0s 84us/step - loss: 0.1290 - acc: 0.8343
Epoch 31/150
712/712 [==============================] - 0s 86us/step - loss: 0.1288 - acc: 0.8315
Epoch 32/150
712/712 [==============================] - 0s 86us/step - loss: 0.1288 - acc: 0.8329
Epoch 33/150
712/712 [==============================] - 0s 83us/step - loss: 0.1285 - acc: 0.8343
Epoch 34/150
712/712 [==============================] - 0s 86us/step - loss: 0.1282 - acc: 0.8343
Epoch 35/150
712/712 [==============================] - 0s 86us/step - loss: 0.1287 - acc: 0.8329
Epoch 36/150
712/712 [==============================] - 0s 87us/step - loss: 0.1282 - acc: 0.8357
Epoch 37/150
712/712 [==============================] - 0s 89us/step - loss: 0.1281 - acc: 0.8315
Epoch 38/150
712/712 [==============================] - 0s 86us/step - loss: 0.1280 - acc: 0.8329
Epoch 39/150
712/712 [==============================] - 0s 87us/step - loss: 0.1279 - acc: 0.8329
Epoch 40/150
712/712 [==============================] - 0s 86us/step - loss: 0.1278 - acc: 0.8287
Epoch 41/150
712/712 [==============================] - 0s 86us/step - loss: 0.1277 - acc: 0.8258
Epoch 42/150
712/712 [==============================] - 0s 83us/step - loss: 0.1277 - acc: 0.8357
Epoch 43/150
712/712 [==============================] - 0s 86us/step - loss: 0.1275 - acc: 0.8287
Epoch 44/150
712/712 [==============================] - 0s 87us/step - loss: 0.1275 - acc: 0.8272
Epoch 45/150
712/712 [==============================] - 0s 89us/step - loss: 0.1272 - acc: 0.8329
Epoch 46/150
712/712 [==============================] - 0s 87us/step - loss: 0.1274 - acc: 0.8343
Epoch 47/150
712/712 [==============================] - 0s 86us/step - loss: 0.1272 - acc: 0.8329
Epoch 48/150
712/712 [==============================] - 0s 82us/step - loss: 0.1273 - acc: 0.8343
Epoch 49/150
712/712 [==============================] - 0s 87us/step - loss: 0.1270 - acc: 0.8315
Epoch 50/150
712/712 [==============================] - 0s 83us/step - loss: 0.1270 - acc: 0.8343
Epoch 51/150
712/712 [==============================] - 0s 86us/step - loss: 0.1270 - acc: 0.8272
Epoch 52/150
712/712 [==============================] - 0s 80us/step - loss: 0.1270 - acc: 0.8329
Epoch 53/150
712/712 [==============================] - 0s 87us/step - loss: 0.1270 - acc: 0.8258
Epoch 54/150
712/712 [==============================] - 0s 80us/step - loss: 0.1266 - acc: 0.8343
Epoch 55/150
712/712 [==============================] - 0s 86us/step - loss: 0.1268 - acc: 0.8385
Epoch 56/150
712/712 [==============================] - 0s 84us/step - loss: 0.1265 - acc: 0.8343
Epoch 57/150
712/712 [==============================] - 0s 84us/step - loss: 0.1267 - acc: 0.8343
Epoch 58/150
712/712 [==============================] - 0s 82us/step - loss: 0.1263 - acc: 0.8371
Epoch 59/150
712/712 [==============================] - 0s 84us/step - loss: 0.1262 - acc: 0.8385
Epoch 60/150
712/712 [==============================] - 0s 87us/step - loss: 0.1263 - acc: 0.8385
Epoch 61/150
712/712 [==============================] - 0s 80us/step - loss: 0.1262 - acc: 0.8371
Epoch 62/150
712/712 [==============================] - 0s 84us/step - loss: 0.1263 - acc: 0.8343
Epoch 63/150
712/712 [==============================] - 0s 89us/step - loss: 0.1262 - acc: 0.8329
Epoch 64/150
712/712 [==============================] - 0s 87us/step - loss: 0.1262 - acc: 0.8371
Epoch 65/150
712/712 [==============================] - 0s 84us/step - loss: 0.1262 - acc: 0.8315
Epoch 66/150
712/712 [==============================] - 0s 82us/step - loss: 0.1261 - acc: 0.8329
Epoch 67/150
712/712 [==============================] - 0s 84us/step - loss: 0.1261 - acc: 0.8357
Epoch 68/150
712/712 [==============================] - 0s 82us/step - loss: 0.1260 - acc: 0.8385
Epoch 69/150
712/712 [==============================] - 0s 84us/step - loss: 0.1263 - acc: 0.8343
Epoch 70/150
712/712 [==============================] - 0s 84us/step - loss: 0.1258 - acc: 0.8385
Epoch 71/150
712/712 [==============================] - 0s 83us/step - loss: 0.1257 - acc: 0.8357
Epoch 72/150
712/712 [==============================] - 0s 84us/step - loss: 0.1260 - acc: 0.8329
Epoch 73/150
712/712 [==============================] - 0s 87us/step - loss: 0.1257 - acc: 0.8329
Epoch 74/150
712/712 [==============================] - 0s 91us/step - loss: 0.1257 - acc: 0.8343
Epoch 75/150
712/712 [==============================] - 0s 90us/step - loss: 0.1255 - acc: 0.8329
Epoch 76/150
712/712 [==============================] - 0s 84us/step - loss: 0.1256 - acc: 0.8343
Epoch 77/150
712/712 [==============================] - 0s 84us/step - loss: 0.1254 - acc: 0.8329
Epoch 78/150
712/712 [==============================] - 0s 91us/step - loss: 0.1255 - acc: 0.8329
Epoch 79/150
712/712 [==============================] - 0s 89us/step - loss: 0.1255 - acc: 0.8301
Epoch 80/150
712/712 [==============================] - 0s 87us/step - loss: 0.1255 - acc: 0.8329
Epoch 81/150
712/712 [==============================] - 0s 83us/step - loss: 0.1255 - acc: 0.8343
Epoch 82/150
712/712 [==============================] - 0s 87us/step - loss: 0.1254 - acc: 0.8315
Epoch 83/150
712/712 [==============================] - 0s 86us/step - loss: 0.1252 - acc: 0.8343
Epoch 84/150

712/712 [==============================] - 0s 80us/step - loss: 0.1253 - acc: 0.8329
Epoch 85/150
712/712 [==============================] - 0s 84us/step - loss: 0.1251 - acc: 0.8315
Epoch 86/150
712/712 [==============================] - 0s 86us/step - loss: 0.1252 - acc: 0.8258
Epoch 87/150
712/712 [==============================] - 0s 89us/step - loss: 0.1251 - acc: 0.8329
Epoch 88/150
712/712 [==============================] - 0s 83us/step - loss: 0.1251 - acc: 0.8357
Epoch 89/150
712/712 [==============================] - 0s 84us/step - loss: 0.1250 - acc: 0.8357
Epoch 90/150
712/712 [==============================] - 0s 84us/step - loss: 0.1251 - acc: 0.8371
Epoch 91/150
712/712 [==============================] - 0s 86us/step - loss: 0.1253 - acc: 0.8287
Epoch 92/150
712/712 [==============================] - 0s 82us/step - loss: 0.1250 - acc: 0.8329
Epoch 93/150
712/712 [==============================] - 0s 82us/step - loss: 0.1249 - acc: 0.8371
Epoch 94/150
712/712 [==============================] - 0s 86us/step - loss: 0.1248 - acc: 0.8385
Epoch 95/150
712/712 [==============================] - 0s 80us/step - loss: 0.1250 - acc: 0.8357
Epoch 96/150
712/712 [==============================] - 0s 86us/step - loss: 0.1247 - acc: 0.8371
Epoch 97/150
712/712 [==============================] - 0s 82us/step - loss: 0.1250 - acc: 0.8357
Epoch 98/150
712/712 [==============================] - 0s 84us/step - loss: 0.1248 - acc: 0.8301
Epoch 99/150
712/712 [==============================] - 0s 86us/step - loss: 0.1249 - acc: 0.8357
Epoch 100/150
712/712 [==============================] - 0s 83us/step - loss: 0.1247 - acc: 0.8371
Epoch 101/150
712/712 [==============================] - 0s 84us/step - loss: 0.1246 - acc: 0.8371
Epoch 102/150
712/712 [==============================] - 0s 84us/step - loss: 0.1249 - acc: 0.8343
Epoch 103/150
712/712 [==============================] - 0s 84us/step - loss: 0.1248 - acc: 0.8343
Epoch 104/150
712/712 [==============================] - 0s 82us/step - loss: 0.1249 - acc: 0.8329
Epoch 105/150
712/712 [==============================] - 0s 83us/step - loss: 0.1246 - acc: 0.8357
Epoch 106/150
712/712 [==============================] - 0s 86us/step - loss: 0.1244 - acc: 0.8371
Epoch 107/150
712/712 [==============================] - 0s 83us/step - loss: 0.1247 - acc: 0.8357
Epoch 108/150
712/712 [==============================] - 0s 83us/step - loss: 0.1245 - acc: 0.8357
Epoch 109/150
712/712 [==============================] - 0s 86us/step - loss: 0.1244 - acc: 0.8301
Epoch 110/150
712/712 [==============================] - 0s 83us/step - loss: 0.1245 - acc: 0.8315
Epoch 111/150
712/712 [==============================] - 0s 83us/step - loss: 0.1244 - acc: 0.8357
Epoch 112/150
712/712 [==============================] - 0s 86us/step - loss: 0.1242 - acc: 0.8371
Epoch 113/150
712/712 [==============================] - 0s 83us/step - loss: 0.1241 - acc: 0.8371
Epoch 114/150
712/712 [==============================] - 0s 83us/step - loss: 0.1241 - acc: 0.8371
Epoch 115/150
712/712 [==============================] - 0s 84us/step - loss: 0.1242 - acc: 0.8371
Epoch 116/150
712/712 [==============================] - 0s 84us/step - loss: 0.1241 - acc: 0.8357
Epoch 117/150
712/712 [==============================] - 0s 84us/step - loss: 0.1241 - acc: 0.8371
Epoch 118/150
712/712 [==============================] - 0s 82us/step - loss: 0.1240 - acc: 0.8357
Epoch 119/150
712/712 [==============================] - 0s 84us/step - loss: 0.1240 - acc: 0.8357
Epoch 120/150
712/712 [==============================] - 0s 82us/step - loss: 0.1238 - acc: 0.8385
Epoch 121/150
712/712 [==============================] - 0s 80us/step - loss: 0.1239 - acc: 0.8357
Epoch 122/150
712/712 [==============================] - 0s 82us/step - loss: 0.1237 - acc: 0.8385
Epoch 123/150
712/712 [==============================] - 0s 83us/step - loss: 0.1239 - acc: 0.8371
Epoch 124/150
712/712 [==============================] - 0s 83us/step - loss: 0.1235 - acc: 0.8371
Epoch 125/150
712/712 [==============================] - 0s 86us/step - loss: 0.1237 - acc: 0.8385
Epoch 126/150
712/712 [==============================] - 0s 80us/step - loss: 0.1236 - acc: 0.8357
Epoch 127/150
712/712 [==============================] - 0s 82us/step - loss: 0.1236 - acc: 0.8385
Epoch 128/150
712/712 [==============================] - 0s 86us/step - loss: 0.1235 - acc: 0.8357
Epoch 129/150
712/712 [==============================] - 0s 84us/step - loss: 0.1238 - acc: 0.8385
Epoch 130/150
712/712 [==============================] - 0s 82us/step - loss: 0.1234 - acc: 0.8343
Epoch 131/150
712/712 [==============================] - 0s 83us/step - loss: 0.1234 - acc: 0.8371
Epoch 132/150
712/712 [==============================] - 0s 80us/step - loss: 0.1233 - acc: 0.8371
Epoch 133/150
712/712 [==============================] - 0s 84us/step - loss: 0.1235 - acc: 0.8371
Epoch 134/150
712/712 [==============================] - 0s 84us/step - loss: 0.1233 - acc: 0.8357
Epoch 135/150
712/712 [==============================] - 0s 84us/step - loss: 0.1232 - acc: 0.8385
Epoch 136/150
712/712 [==============================] - 0s 82us/step - loss: 0.1232 - acc: 0.8399
Epoch 137/150
712/712 [==============================] - 0s 84us/step - loss: 0.1232 - acc: 0.8357
Epoch 138/150
712/712 [==============================] - 0s 87us/step - loss: 0.1231 - acc: 0.8385
Epoch 139/150
712/712 [==============================] - 0s 87us/step - loss: 0.1234 - acc: 0.8315
Epoch 140/150
712/712 [==============================] - 0s 86us/step - loss: 0.1232 - acc: 0.8385
Epoch 141/150
712/712 [==============================] - 0s 86us/step - loss: 0.1234 - acc: 0.8357
Epoch 142/150
712/712 [==============================] - 0s 89us/step - loss: 0.1230 - acc: 0.8357
Epoch 143/150
712/712 [==============================] - 0s 118us/step - loss: 0.1230 - acc: 0.8343
Epoch 144/150
712/712 [==============================] - 0s 83us/step - loss: 0.1234 - acc: 0.8385
Epoch 145/150
712/712 [==============================] - 0s 84us/step - loss: 0.1232 - acc: 0.8399
Epoch 146/150
712/712 [==============================] - 0s 84us/step - loss: 0.1231 - acc: 0.8343
Epoch 147/150
712/712 [==============================] - 0s 84us/step - loss: 0.1229 - acc: 0.8385
Epoch 148/150
712/712 [==============================] - 0s 83us/step - loss: 0.1230 - acc: 0.8399
Epoch 149/150
712/712 [==============================] - 0s 84us/step - loss: 0.1231 - acc: 0.8343
Epoch 150/150
712/712 [==============================] - 0s 84us/step - loss: 0.1228 - acc: 0.8357

In [178]:
prediction = model.predict(X_test)

In [185]:
from sklearn.metrics import accuracy_score, balanced_accuracy_score, classification_report, confusion_matrix

In [180]:
prediction = (prediction > 0.5)

In [181]:
accuracy_score(y_test, prediction)

0.8100558659217877

In [182]:
confusion_matrix(y_test, prediction)

array([[99,  6],
       [28, 46]], dtype=int64)

In [184]:
print(classification_report(y_test, prediction))

              precision    recall  f1-score   support

           0       0.78      0.94      0.85       105
           1       0.88      0.62      0.73        74

   micro avg       0.81      0.81      0.81       179
   macro avg       0.83      0.78      0.79       179
weighted avg       0.82      0.81      0.80       179

In [186]:
balanced_accuracy_score(y_test, prediction)

0.7822393822393823